# Playground
playground/*
!playground/.gitkeep

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vendor/

# Build output
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
coverage.out

# Cache
.cache/
.npm/
.eslintcache
.tmp-testdata/

# Electron
out/

# Test runner artifacts
tests/*-test-runner/allure-results/
tests/*-test-runner/allure-report/
tests/*-test-runner/test-results/
tests/*-test-runner/artifacts/
